*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

input{
  padding: 5px;
  border-radius: 5px;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.input{
  text-align: center;
  margin-bottom: 10px;
}

.btn{
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-info{
  border: 2px solid rgb(0, 0, 236);
  background-color: rgb(157, 172, 255);
}

.btn-danger{
  border: 2px solid rgb(236, 0, 0);
  background-color: rgb(255, 157, 157);
}

.tasks{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.task{
  font-size: 14px;
  font-weight: bold;
}
